.App {
  text-align: center;
  overflow: hidden;
  background: url('/src/static/images/moody-jellies.jpg') no-repeat 50% / cover;
  position: relative;
  height: 99vh;
}

.banana {
  color: aliceblue;
  font-family: lamarkie;
}

.score {
  color: aliceblue;
}

.reset-btn {
  cursor: pointer;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 18px;
  background-color: aliceblue;
}